body {
    background-image: url("back2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
/* ------------font google------------ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
/* ------------global----------------*/
body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #747e74;
    overflow-x: hidden;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 70%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    display: inline-block;
}


h1, h3, h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #38424d;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    margin: 0;
}

span {
    display: contents;
    color: rgb(255, 186, 108);
}

/* -------------all button css----------*/

.main-btn {
    display: inline-block;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 55px;
    border: 2px solid #0898ef;
    border-radius: 5px;
    background-color: #0898ef;
    color: #fff;
}

.main-btn:hover {
    background-color: rgb(8, 152, 231, .7);
    color: #fff;
    border-color: transparent;
}


/*---------anmation----------*/
@keyframes video {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}


@keyframes animation-1 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}



/*--------------navbar css ------------*/

.navbar-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;

}

.sticky {
    position: fixed;
    background-color: rgb(102, 53, 53);
    box-shadow: 0 20px 50px 0 rgb(0, 0, 0, 0.5);
    
}


.navbar {
    position: relative;
    padding: 10px 0;
}

.navbar-brand .image {
    max-width: 150px;
}

.navbar-nav .nav-item {
    position: relative;
    margin-left: 40px;
}

.navbar-nav .nav-item .nav-link {
    position: relative;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
    color: #ffb977;
}

.navbar-nav .nav-item .nav-link::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    bottom: 0;
    left: 50%;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0;
    transition: all .3 ease-out 0s;
}

.navbar-nav .nav-item .nav-link.active::before,
.navbar-nav .nav-item .nav-link:hover::before {
    opacity: 1;
}



/* -------------home css---------------*/
.header-hero {
    position: relative;
    top: 0;
    height: 800px;
    background-position: bottom center;
}

.header-hero .shape.shape-1 {
    position: relative;
    width: 75px;
    height: 75px;
    left: 130px;
    top: 20%;
    border-radius: 50%;
    background: rgb(252, 169, 92);
    animation: animation-1 2s linear infinite;
}

.header-hero-content {
    position: relative;
}

.header-hero-content .header-title {
    font-size: 27px;
    color: #ffffff;
}

.header-hero-content .text {
    margin-top: 30px;
}

.header-hero-content ul {
    margin-top: 30px;
}

.header-hero-content ul li .header-video {
    margin-left: 50px;
}

.header-hero-content .header-video {
    position: relative;
    margin-top: 6px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    background-color: #0898ef;
    color: #fff;
}

.header-hero-content .header-video::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(8, 152, 231, .8);
    border-radius: 50%;
    z-index: -9;
    animation: video 2s linear infinite;
}
.header-image{
    position: relative;
    padding-top: 80px;
    max-width: 100%;
}


.header-title span {
    font-size: 40px;
}

.feature-section {
    transform: translate(0, -250px);
}

.feature-section .container .lettre {
    color: rgb(117, 110, 107);
}

.partenaire-section .container .lettre {
    color: rgb(117, 110, 107);
}

/* ------------feature-------------*/
.feature-section .single-feature {
    padding: 30px;
    text-align: center;
    box-shadow: 0 15px 17px 0 rgb(154 154 154 / 16%);
}

.feature-section .single-feature .icon {
    position: relative;
    width: 75px;
    height: 75px;
    display: flex;
    margin: 0 auto 30px;
    background-color: rgb(109, 48, 48);
    color: #fff;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.feature-section .single-feature .icon.color-4 {
    background-color: rgb(255, 255, 255);
}

.feature-section .single-feature .icon.color-5 {
    background-color: rgb(255, 255, 255);
}

.feature-section .single-feature .icon.color-6 {
    background-color: rgb(255, 255, 255);
}

.feature-section .single-feature .icon.color-2 {
    background-color: rgb(247, 173, 104);
}

.feature-section .single-feature .icon.color-3 {
    background-color: rgb(94, 37, 63);
}

.feature-section .single-feature .icon.color-4::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(32, 32, 32);
    border-radius: inherit;
    top: -8px;
    right: -8px;
    z-index: -1;
    opacity: .2;
    transition: all .3s ease-out 0s;

}

.feature-section .single-feature .icon.color-5::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(32, 32, 32);
    border-radius: inherit;
    top: -8px;
    right: -8px;
    z-index: -1;
    opacity: .2;
    transition: all .3s ease-out 0s;

}

.feature-section .single-feature .icon.color-6::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(32, 32, 32);
    border-radius: inherit;
    top: -8px;
    right: -8px;
    z-index: -1;
    opacity: .2;
    transition: all .3s ease-out 0s;

}

.feature-section .single-feature .icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: inherit;
    top: -8px;
    right: -8px;
    z-index: -1;
    opacity: .2;
    transition: all .3s ease-out 0s;
}

.feature-section .single-feature:hover .icon::after {
    top: 8px;
    right: 8px;
}

.feature-section .single-feature .content h3 {
    font-weight: 600;
    margin-bottom: 25px;

}

/*-----------partenaire css------------*/

.partenaire-section {
    padding: 100px 0;
    
}

.partenaire-section .tns-controls {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    top: 60%;
    transform: translateY(-50%);
}

.partenaire-section .tns-controls button {
    border: none;
    background: 0 0;
}

.partenaire-section .tns-controls button svg {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 8%;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, .13);
    color: #fff;
    z-index: 22;
}

.partenaire-section .tns-controls button svg:hover {
    background-color: #fff;
    color: rgb(240, 169, 62);
}

.partenaire-section .tns-controls button .fa-angle-left {
    left: 10%;
}

.partenaire-section .tns-controls button .fa-angle-right {
    right: 10%;
}





.partenaire-section .partenaire-active-wrapper {
    position: relative;
}

.partenaire-section .partenaire-wrapper {
    padding: 40px;
}

.partenaire-section .single-partenaire {
    position: relative;
    padding: 45px 50px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 9;
}

.partenaire-section .single-partenaire::before {
    top: -20px;
    right: -20px;
    opacity: .26;
    z-index: -1;
}

.partenaire-section .single-partenaire::after {
    top: -40px;
    right: -40px;
    opacity: .13;
    z-index: -2;
}

.partenaire-section .single-partenaire::before,
.partenaire-section .single-partenaire::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: inherit;
}

.partenaire-section .single-partenaire .info .image-2 {
    width: 100%;
    max-width: 65px;
    border-radius: 20%;
    overflow: hidden;
}

.partenaire-section .single-partenaire .info h4 {
    margin-bottom: 8px;
}

.partenaire-section .single-partenaire .info p {
    margin-bottom: 15px;
    font-size: 16px;

}
.partenaire-section .single-partenaire .quote {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 80px;
    line-height: 1;
    color: rgb(72, 124, 255, .5);
}

/*---------------- footer css----------------*/
.footer-area {
    position: relative;
    overflow: hidden;
}
.footer-area .logo {
    max-width: 200px;
}

.footer-link-wrapper {
    width: 50%;
}

.footer-title .title {
    font-size: 20px;
    font-weight: 500;
}

.footer-about {
    max-width: 320px;
}

.footer-about .text {
    margin-top: 30px;
}

.footer-about .social {
    margin-top: 30px;
}

.footer-about .social li {
    display: inline-block;
    margin-right: 25px;
}

.footer-about .social li a {
    font-size: 20px;
    color: gray;
    transition: all .3s ease-out 0s;
}
.footer-about .social li a:hover {
    color: #0898ef;
}


.footer-link .link {
    padding-top: 10px;
}

.footer-link .link li {
    margin-top: 10px;
}
.footer-link .link li a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(155, 155, 155);
    transition: all .3s ease-out 0s;
}

.footer-link .link li a:hover {
    color: #ffaa83;
}

.footer-contact .contact-list li .contact-info .info-content .text a {
    color: rgb(155, 155, 155);
    transition: all .3s ease-out 0s;
}

.footer-contact .contact-list li .contact-info .info-content .text a:hover {
    color: #0898ef;
}

.footer-copyright .copyright p {
    color: rgb(204, 204, 204);
}

.footer-copyright .copyright {
    border-top: 1px solid #747e88;
    padding-top: 10px;
    padding-bottom: 25px;
}

.footer-copyright .copyright .copyright-text .text a {
    color: #747e88;
}
